/*Cabecera*/
#cabecera{
  background-color: #0d47a1; /*#0d47a1 blue darken-4 de Material Desing*/
  height: 11ex;
  border-bottom: 0.5ex solid black ;
  font-family: 'Roboto', sans-serif;

}
.logo{
  margin-top: 10px;
  float: left;
  display: inline;
  color: white;
}

#lista_enlaces {
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-bottom: 3px;
    padding: 0px;
}
#lista_enlaces li{
  float: right;
  clear: left;
}
#lista_enlaces li a {
    font-size: 2ex;
    height: 50px;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
}


#lista_enlaces li a span {
  vertical-align: -webkit-baseline-middle;
}


#lista_enlaces li a:hover {
    background-color: lightblue;
    color: darkblue;
}

#divUsuarioConectado {
  float: right;
  clear: right;
  padding-right: 20px;

}
#divUsuarioConectado h4{
  color: lightblue;
  display: inline;
}
#divUsuarioConectado a {
  display: inline;
}

.botonCabecera{
  padding: 1px 6px;
}

/*Pie*/
#pieCompleto{
  margin-top: 10px;
  border-top: 0.5ex solid black;
  background-color: #1565c0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#copy{
  color: lightblue;
  width: 100%;
  text-align: center;
}

#listaPie{
  list-style-type: none;
  width: 25%;
  display: inline-block;
}

#listaPie li a{
  color: white;
}
