html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

.compañiaReal{
	border-bottom-style: dotted;
	padding-bottom: 20px;
}

.persona{
	padding: 5px;
	margin: 15px;
	width: 47%;
	display: inline-block;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	border-radius: 15px;
	background-color: #EEEEEE;
}

.contenedor_imagen{
	text-align: center;
}
.avatar{
	margin: auto;
	zoom: 75%;
	border-radius: 1000px;
}
