div.excepcion{
 color: red;
 border: 2px solid red;
 padding: 10px;
 margin: 10px;
}

.todo{
  width: 75%;
  margin: auto;
  text-align: center;
}

html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}
