html{
  margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}


body, div, dl, dt, ul, ol, li, h1, h2, h3, h4, h5, h6,
 form, fieldset, input, p, th, td {
  padding:0;
  margin:0;}



/*ol, ul, li {list-style:none}*/

:focus {outline:none}

body,
input{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 320px;
  display: inline-block;
  margin-left: 0px;
  color:red;

}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  padding-top: 10px;
  margin-bottom: 10px;
}

.h1 {
  font-size: 17px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 5px;
}

html{
  background-color: #ffffff;
  	margin-left: 20px;
  	margin-right: 20px;
}

.testbox {
  margin: 20px auto;
  width: 400px;

  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}
/*para los submit*/

.box {
  margin: 20px auto;
  width: 420px;

  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}


form{
  margin: 0 30px;
}


hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password],input[type=email],input[type=date],input[type=number],select{
  width: 100%;
  height: 39px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

#apellidos,#salario,#cuenta,#inicioContrato{
	margin-bottom: 12px;
}

#confirmpass{
  margin-bottom: 20px;
}
#inicioContrato,#fechanac,#finContrato,#fecha{
	margin-top:0
}
input:focus{
    border: 3px solid #555;
}


.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3a57af;
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
  -moz-box-shadow: 0 3px rgba(58,87,175,.75);
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
}

.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  }


/*diferentes cajas segun tamaño para los submit*/
.boxClientesSaldo{
  margin: 20px auto;
  width: 420px;
  height:205px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}
