.trescolumnas{
    display: inline-block;
    width: 30%;
    padding: 20px;
    vertical-align: top;
}

html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

#contenedorVideo{
  background-color: black;
}
#video{
  margin: auto;
  width: 100%;
}

.columnas{
  width: 100%;
  text-align: center;
  /*border-top: 10px solid black;
  border-bottom: 10px solid black;*/
}

#TituloSlogan{
  border-style: none none dotted none;
}

#tablatres {
  border-style: none none dotted none;
  padding-bottom: 20px;
}
#donde{
  border-style: dotted none none none;
  width: 85%;
  margin: auto;
  margin-top: 20px;

}

.nombre, .slogan{
  font-family: 'Roboto:100', sans-serif;
}

.iconosgoogle{
  zoom: 200%;
  color: darkblue;
  margin-bottom: 10px;
}

.doscolumnas{
    display: inline-block;
    width: 45%;
    padding: 2px;
}

.doscolumnas img{
  zoom: 20%;
}

.mapagoogle{
  width: 100%;
  margin-bottom: 25px;
}
