.error {
	color: red;
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}

body{
  margin-top: 0;
}

#formularioCompleto{
  margin: 0 auto;
  width: 30%;
  margin-top: 50px;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	border-radius: 15px;
	background-color: #EEEEEE;

}
input {
    width: 100%;
}
input:focus {
    border: 3px solid #555;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
fieldset{
	background-color: #EEEEEE;
	border: 0;
	padding-bottom: 2px;
}

legend{

	/*border: 2px solid black;*/
	font-size: 20px;
	font-weight: bolder;
	text-align: center;

}

#formularioCompleto button{
	padding: 10px;

}

button:active {
  background-color: #8AC4FF;
  box-shadow: 5px #0;
  transform: translateY(3px);
}
.avatar{
  display: block;
  margin: auto;
  zoom: 20%;
}
.pregunta{
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
}
