#listaTrabajadores ul{
 position:static;
  border-bottom:none;
  list-style: none;
  margin-top:8px;
  margin-bottom:8px;
  padding: 10px;

}

#listaTrabajadores li a:hover  {

 color: #1a237e;
 background-color:#cfd8dc;


}

#listaTrabajadores li {
  border: 3px solid black;
  text-align:center;
  width: 100%;
  transform: scale(1,1.1);
}

#titulo1 h1{
	margin:6px;
}

#titulo1{
  font-size: 17px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

#listaTrabajadores li a {
  color: black;
  padding: .2em 0 .2em .5em;
  text-decoration: none;
  font-size:25px;
  display:block;

}

/*A PARTIR DE AQUI PARA PONERLO BONITO*/

body, div, dl, dt, ul, ol, li, h1, h2, h3, h4, h5, h6,
 form, fieldset, input, p, th, td {
  padding:0;
  margin:0;}




:focus {outline:none}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

html{
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}

#listaTrabajadores {
  margin: 20px auto;
  width: 420px;

  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

form{
  margin: 0 30px;
}


hr{
  color: #a9a9a9;
  opacity: 0.3;
}
