#misDatos{
  border: 2px solid black;
  width: 49%;
  margin-right: 0px;
  float: left;
  background-color: #EEEEEE;
  padding: 5px;
  border-radius: 20px;
}

html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

.headerApartados{
  text-align: center;
}

/*Tablas*/
table{width: 80%;
      margin: auto;
      border-collapse: collapse;
}
th {height: 50px;
	background-color: #757575;
color: white;}
tr:hover {background-color: #BBDEFB
}

#carritodelacompra{
  float: right;
  border: 2px solid black;
  width: 48%;
  background-color: #EEEEEE;
  padding: 5px;
  border-radius: 20px;
}

#FacturasUsuario{
  margin-top: 550px;
  border: 2px solid black;
  width: 49%;
  background-color: #EEEEEE;
  padding: 5px;
  border-radius: 20px;
}

#reservasUsuario{
  margin-top: 50px;
  border: 2px solid black;
  width: 49%;
  background-color: #EEEEEE;
  padding: 5px;
  border-radius: 20px;
}

.añadeSaldo {
  display:inline;
  background-color: cyan;
  padding: 10px;
  float: right;
}

.elimina_vaciardelcarrito {
  background-color: orangered;
  padding: 10px;

}
.confirmaCarrito{
  background-color: lightgreen;
  padding: 10px;

}

.imprimir{
  background-color: lightblue;
  padding: 10px;
  float: right;
}

.realizaReserva{
  background-color: lightgreen;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.realizaReservaAMONESTADO{
  background-color: lightgrey;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.divButRes{
  width: 100%;
  margin: auto;
}
