#containerTable-responsive{
  overflow-x: auto; /*Para que la tabla sea responsiva*/
}

html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}



.disponible{
  background-color: green;
  color: white;
  padding: 10px;
  width: auto;

}

.ocupado{
  background-color: red;
  color: white;
  padding: 10px;
  width: auto;
}

/*Tablas*/
table{width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
      }

th {
    height: 50px;
	  background-color: #757575;
    color: white;
    min-width: 6em;
    border: 1px solid black}

tr{
  text-align: center;
}


tr:hover {
  background-color: #BBDEFB
}
