html{
	margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

.contenedorDeTodo{
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
}

fieldset{
  background-color: #EEEEEE;
  border-radius: 15px;
}
legend{
  background-color: #EEEEEE;
  border-radius: 5px;
}

.confirmaReserva {
  background-color: lightgreen;
  padding: 10px;
  width: 100%;
}

.realizaReservaAMONESTADO{
  background-color: lightgrey;
  padding: 10px;
  margin: auto;
  width: 100%;
}
