html{
  margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

.LineaCliente{
	border-bottom: 2px solid red;
}


table{width: 100%;
      margin: auto;
      border-collapse: collapse;
			-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
		  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
		  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
			border-radius: 15px;
			background-color: #EEEEEE;
}
th {
		height: 50px;
		background-color: #757575;
		color: white;
		border: 1px solid black}
td{
		border: 1px solid black;
    padding: 10px;
}
tr:hover {background-color: #BBDEFB
}


#saldo:focus {
    border: 3px solid #555;
}

#saldo{
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#botonSaldo{
	width: 40%
}

button{
	padding: 10px;

}

button:active {
  background-color: #8AC4FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#inputbusqueda{
		-webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	    width: 150px;
	    box-sizing: border-box;
	    border: 2px solid black;
	    border-radius: 4px;
	    font-size: 16px;
	    background-color: lightcyan;
	    background-position: 10px 10px;
	    background-repeat: no-repeat;
	    padding: 12px 20px 12px 40px;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}


	#inputbusqueda:focus{
		width: 100%;
	}


	.current{
		font-weight: bolder;
	}


	.pagination {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 5px;
	}
	.pagination a {
	    color: black;
	    float: left;
	    padding: 8px 16px;
	    text-decoration: none;
	}
	.pagination a:hover{background-color: #ddd;}
	.pagination .current {
		background-color: #ddd;
	}

	.pagination input{
		width: 10%;
	    padding: 3px 3px;
	    margin: 3px 0;
	    box-sizing: border-box;
	}
	.pagination a {
	    border: 1px solid #ddd; /* Gray */
	}
	.pagination a:first-child {
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	}

	.pagination a:last-child {
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	}

	.pagination .formpaginacion{
		display: block;
		float: right;
	}


	/*para errores del saldo*/
.errores1 p{
	margin:0px;
	padding:0px;
	font-size:15px;
  color:red;

}


.botonEliminar{
	background-color: red;
}

.botonAñadir{
	width: 100%;
	background-color: lightgreen;
}

.botonModificar{
	background-color: orange;
		padding: 10px;
}

/*menuEmbed*/
.menuEmbed{
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border-radius: 15px;
  background-color: #EEEEEE;
}

.menuEmbed h1{
  margin: auto;
  padding: 10px;
}

.menuEmbed li{
  display: inline;
  list-style-type: none;
  padding: 15px;
  padding-top: 10px;
  margin-top: 5px;
}

.enlaces{
margin-bottom: 15px;
}

.menuEmbed li:hover{
    border-radius: 5px;
    background-color: #CCCCCC;
}

.menuEmbed li a{
  text-decoration: none;
  color: black;
}
.activa{
    border-radius: 5px;
    background-color: #CCCCCC;
}
