html{
  margin-left: 10px;
	margin-right: 10px;
}

body{
  margin: 0px;
}

input {
    width: 100%;
}
input:focus {
    border: 3px solid #555;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.añadirCarrito{
	padding: 10px;
  background-color: orange;
}

/*Barra de busqueda*/
#inputbusqueda{
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: lightcyan;
    background-image:  url('res/images/search_google');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#inputbusqueda:focus{
	width: 100%;
}

/*Paginacion*/

.pagination {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover{background-color: #ddd;}
.pagination .current {
	background-color: #ddd;
}

.pagination input{
	width: 10%;
    padding: 3px 3px;
    margin: 3px 0;
    box-sizing: border-box;
}
.pagination a {
    border: 1px solid #ddd; /* Gray */
}
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination .formpaginacion{
	display: block;
	float: right;
}


/*Tablas*/
table{width: 100%;
  border-collapse: collapse;
}
th {height: 50px;
	background-color: #757575;
color: white;}
tr:hover {background-color: #BBDEFB
}
