/*Tablas*/
table{width: 100%; border: 1px solid lightgrey;}
th {height: 50px;
	background-color: #757575;
color: white;}

#empresa{
  width: 29%;
  float: left;
  border: 1px solid black;
}

#cliente {
  width: 69%;
  float: right;
  border: 1px solid black;
	padding: 0px;
}

#tablaProductosyPrecio{
  margin-top: 50px;
}

.imagen{
	width: 25ex;
}
.columnaCliente {
	display: inline-block;
	width: 49%;
}
